<div *ngIf="stage === 'request-reset'">
  <form [formGroup]="requestForm" (ngSubmit)="requestReset()">
    <formly-form [form]="requestForm" [fields]="requestFields" [model]="model"></formly-form>
  </form>
</div>

<div *ngIf="stage === 'reset-password'">
  <form [formGroup]="resetForm" (ngSubmit)="resetPassword()">
    <formly-form [form]="resetForm" [fields]="resetFields" [model]="model"></formly-form>
    <a class="pointer-cursor" (click)="startOver()">request another code</a>
  </form>
</div>
